html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color:lightblue;
}

.header {
    gap: 20 0px;
}

.title {
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 70px;
    margin-left: 50px;
}

.main-container {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    min-height: 350px;
    min-width: 350px;
    height: 90vw;
    width: 90vw;
    max-height: 700px;
    max-width: 700px;
    margin: 0 auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

button {
    background-color:cornflowerblue;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: x-large;
    margin: 20px;
    transition: all 0.3s;
}

button:hover {
    background-color: yellow;
    cursor: pointer;
}

.outer-container {
    margin: 0 0 0 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 90%;
    width: 90%;
    display: grid;
    border: 5px solid black;
    height: 650px;
    width: 650px;
}

.grid:hover{
    cursor: pointer;
}

input {
    width: 150px;
}

.error {
    display: none;
}

#number-input {
    margin-left: 30px;
}

label {
    padding:10px;
    margin-left:20px;
    text-align: center;
    width:150px;
}